.card-reserva-list {
  background-color: var(--colorFondoOscuro);
  font-size: 18px;
  padding: 1rem;
}

.card-reserva-list h2 {
  color: var(--colorDos);
  margin-bottom: 1rem;
}

.card-reserva-list ul {
  gap: 1rem;
}

.card-reserva-list li {
  display: flex;
}

@media (min-width: 1024px) {
  .card-reserva-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
